<p id="notice"><%= notice %></p>

<p>
  <strong>Choice1:</strong>
  <%= @multiplechoice.choice1 %>
</p>

<p>
  <strong>Choice2:</strong>
  <%= @multiplechoice.choice2 %>
</p>

<p>
  <strong>Choice3:</strong>
  <%= @multiplechoice.choice3 %>
</p>

<p>
  <strong>Choice4:</strong>
  <%= @multiplechoice.choice4 %>
</p>

<%= link_to 'Edit', edit_multiplechoice_path(@multiplechoice) %> |
<%= link_to 'Back', multiplechoices_path %>
